<div class="container">
  <div class="d-flex justify-content-between">
    <h1><%= @task.title %></h1>
    <%= link_to 'Edit this task', "#{@task.id}/edit", class: 'btn btn-primary' %>
  </div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <p><%= @task.details %></p>
  </div>

  <p><%= @task.completed ? "This task is completed" : "This task is not yet completed" %></p>

  <hr>

  <%= link_to 'Back to all tasks', tasks_path %>
</div>
